.form {
  &-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    text-align: center;
    & .form-content {
      width: 54.5rem;
      padding: 6rem 7rem;
      background-color: #fff;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }
    &--logo {
      width: 100%;
      h3 {
        font-size: 2rem;
        margin: 2rem 0 5rem;
      }
    }
    &--title {
      font-size: 3.3rem;
      text-align: center;
      font-weight: 600;
      color: var(--text-color);
      margin-bottom: 3.5rem;
    }
    .form-group {
      width: 100%;
    }
  }
  &-group {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 61rem;
  }
  &-input,
  input {
    width: 100%;
    border-radius: 2rem;
    border: 1px solid #d8d8d8;
    padding: 1.5rem 2.4rem;
    font-size: 1.6rem;
    color: #888888;
  }
  .react-datepicker-wrapper {
    width: calc(100% - 23rem);
  }
  &-user {
    .form-group {
    }
  }
  label {
    width: 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    ~ .form-input {
      width: calc(100% - 23rem);
    }
  }
  textarea.form-input {
    height: 15rem;
  }
  .btn {
    margin-top: 3rem;
  }
  h4 {
    font-size: 2rem;
    font-weight: 500;
    margin: 4rem 0 2rem;
  }
}
.user {
  &-image {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      opacity: 0.7;
    }
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 !important;
      width: 12rem;
    }
  }
}
.row {
  display: flex;
  .col {
    &-6 {
      @media (min-width: 100rem) {
        width: 50%;
      }
    }
  }
}
.form-addgroup{
  width: 90rem;
  align-items: center;
  margin: 0 auto;
  label{
    width: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .form-input{
    border-radius: 2rem;
    border: 1px solid #d8d8d8;
    padding: 1.5rem 2.4rem;
    font-size: 1.6rem;
    color: #888888;
  }
  .btn{
    margin-left: 2rem;
  }
  &__image{
    padding-right: 1.5rem;
  }
}
