.box-page {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  li {
    margin-left: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1.3rem;
    box-sizing: border-box;
    border: 1px solid #707070;
    & a {
      color: #040404;
      font-weight: bold;
      font-size: 1.6rem;
    }
    &.active {
      background: #707070;
      & a {
        color: #fff;
      }
    }
  }
}
