.react-form-builder{
  margin: 3rem 0;
  & > div{
    display: flex;
    justify-content: space-between;
  }
  .react-form-builder-preview{
    width: 70%;
    min-height: 60rem;
    & .c-form{
      margin-top: 0;
    }
    & .edit-form h4{
      font-size: 2.4rem;
    }
    .edit-form .dynamic-option-list ul li {
      input.form-control{
        width: 100%;
      }
      .dynamic-options-actions-buttons{
        margin-left: 0;
      }
    }
    .Sortable .rfb-item{
      padding: 3.5rem 1rem;
      & .toolbar-header{
        height: 0;
      }
    }
  }
  .react-form-builder-toolbar{
    margin-top: -25px;
    width: 30%;
  }
  .btn{
    width: auto;
    background: none;
    color: var(--black);
    padding: 0 1rem;
  }
  .react-form-builder-preview .Sortable .rfb-item .toolbar-header .toolbar-header-buttons{
    top: 1rem;
    margin-top: 0;
    right: 0;
  }
  .edit-form .form-group{
    display: block;
  }
  .badge-secondary {
    color: #fff;
    background-color: #6c757d;
  }
  .badge {
    display: inline-block;
    padding: .5em .4em;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }


  .form-group{
    margin-bottom: 0;
    width: 100%;
    & > .form-label{
      display: none!important;
      height: 0;
      width: 0;
    }
  }
  .form-group > div{
    width: 100%;
  }
  .group_box{
    margin-top: 0;
  }
  .group_box--title{
    width: 10rem;
  }
  .group_box__insert{
    width: calc(100% - 10rem);
  }
  .group_box--box{
    width: calc(100% - 1.6rem);
  }
  .rdw-editor-toolbar{
    box-sizing: border-box;
  }
  .float-left{
    float: left;
  }
  .float-right{
    float: right;
  }
  .custom-control{
    &.custom-checkbox{
      display: flex;
      align-items: center;
    }
    .custom-control-label{
      margin-left: 0.5rem;
    }
  }
  .dynamic-option-list {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      div{
        width: calc(33.33% - 2rem);
        box-sizing: border-box;
      }
    }
    .dynamic-options-actions-buttons{
      display: flex;
    }
    .btn{
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 2rem;
      border-radius: .25rem;
    }
    .btn-success {
      background-color: #28a745;
    }
    .btn-danger {
      background-color: #c82333;
    }
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .3rem;
  }

  .control-label{
    display: block;
    margin-bottom: 2rem;
  }
  .c-form{
    &-label{
      padding-right: 1rem;
    }
    &-content{
      padding-left: 1rem;
      .grid-row{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
      }
    }
    &-item{
      margin: 0 1.5rem;
      width: 12rem;
      &:nth-of-type(2){
        &::before{
          left: -2.2rem;
        }
      }
      &--02{
        margin: 0 1.5rem;
        width: 12rem;
        &:nth-of-type(2){
          &::before{
            left: -2.2rem;
          }
        }
      }
      &--04{
        width: 40%!important;
        .group_box--button{
          justify-content: center;
          text-align: center;
          font-size: 1.1rem;
        }
      }
    }
  }


}

//
.c-form{
  margin-top: 3rem;
  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-label{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 1rem;
    width: 14rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    &--required{
      font-size: 1.1rem;
      display: inline-block;
    }
    &--02{
      margin-left: 1.5rem;
      font-size: 1.6rem;
    }
    &--03{
      display: flex;
      align-items: center;
      & input[type=checkbox]{
        display: none;
        &:checked~span.checkmark:before {
          content: "✓";
          position: absolute;
          top: -.1rem;
          left: .4rem;
          font-size: 1.5rem;
        }
      }
      & input[type=radio]{
        display: none;
        &:checked~span.checkmark--oval:before {
          content: "";
          display: block;
          width: 1.2rem;
          height: 1.2rem;
          position: absolute;
          top: .4rem;
          left: .4rem;
          background: #000;
          border-radius: 50%;
        }
      }
      & span.checkmark{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: .1rem solid #d8d8d8;
        border-radius: 0.5rem;
        margin-right: 1.5rem;
        position: relative;
        &--oval{
          border-radius: 50%;
        }
      }
    }
  }
  &-content{
    margin: 0;
    padding-left: 1.5rem;
    width: calc(100% - 14rem);
    border-left: 0.1rem solid #d8d8d8;
    box-sizing: border-box;
    & .grid-row{
      margin-left: -3rem;
      margin-right: -3rem;
      &--02{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
      }
    }
  }
  &-item{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 3rem;
    width: 18rem;
    padding: 0;
    &:nth-of-type(2){
      &::before{
        display: block;
        content: '～';
        position: absolute;
        left: -3.6rem;
      }
    }
    &--02{
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 3rem;
      width: 18rem;
      &:nth-of-type(2){
        &::before{
          display: block;
          content: '～';
          position: absolute;
          left: -3.6rem;
        }
      }
    }
    &--03, &--04{
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 1.5rem;
      &:nth-of-type(2){
        &::before{
          display: none;
        }
      }
    }
  }
  &-control {
    width: 100%;
    border-radius: 0.5rem;
    border: .1rem solid #d8d8d8;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    color: #000;
    &--02{
      width: 11.8rem;
    }
    &--03{
      width: 21.4rem;
    }
  }
  textarea{
    height: 11.9rem;
  }
  &-title{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 1rem;
    &::before{
      content: '■';
      position: absolute;
      top: .3rem;
      left: 0;
      font-size: 1.5rem;
      line-height: 1;
    }
  }
  &-row{
    margin-top: 2rem;
    &:first-of-type{
      margin-top: 0;
    }
  }
}
