.react-form-builder{
  & > div{
    display: flex;
    justify-content: space-between;
  }
  .react-form-builder-preview{
    width: 70%;
  }
  .react-form-builder-toolbar{
    margin-top: -25px;
    width: 30%;
  }
  .btn{
    width: auto;
    background: none;
    color: var(--black);
    padding: 0 1rem;
  }
  .react-form-builder-preview .Sortable .rfb-item .toolbar-header .toolbar-header-buttons{
    margin-top: 0;
    right: 0;
  }


  .form-group > div{
    width: 100%;
  }
  .group_box--title{
    width: 15rem;
  }
  .group_box__insert{
    width: calc(100% - 15rem);
  }
  .group_box--box{
    width: calc(100% - 1.6rem);
  }
}

.modal {
  background: rgba(0, 0, 0, 0.3);
}

.modal-content {
  padding: 30px;
  max-height: 800px;
  overflow-y: auto
}

//
.c-form{
  &-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  &-item{
    padding: 2rem;
    border: 1px solid #d8d8d8;
    border-radius: 0.5rem;
    box-sizing: border-box;
    &.c-formContent{
      width: 80%;
    }
    &.c-formSidebar{
      width: 20%;
    }
  }
}


