.table {
  border: 0.1rem solid var(--border-color);
  border-collapse: collapse;
  & .btn--medium {
    width: auto;
  }
  &__custom {
    box-sizing: border-box;
    color: var(--text-color);
    width: 100%;
    & thead {
      background-color: var(--header-table);
      color: var(--white);
      th {
        font-size: 1.6rem;
      }
    }

    & tbody {
      & tr {
        & td {
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
  th,
  td {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 100;
    padding: 1rem 0;
    border: 0.1rem solid var(--border-color);
    vertical-align: middle;
    max-width: 25rem;
    border-collapse: collapse;

    input {
      font-size: 1.6rem;
      text-align: center;
      font-weight: 100;
      padding: 1rem;
      max-width: 12.5rem;
      width: 100%;
      vertical-align: middle;
      background: transparent;

      &:disabled {
        border: none;
      }
    }
  }
  & .sunday {
    background-color: var(--pink);
  }
  & .saturday {
    background-color: var(--blue);
  }
  &-group {
    th:nth-child(2) {
      width: 80%;
    }
  }
}

.table-container {
  margin-top: 5rem;
}
.late {
  color: var(--red);
}

.input__edit {
  width: 100%;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  text-align: center;
  font-weight: 100;

  &:focus {
    border: 1px solid var(--blue);
  }
  &:disabled {
    border: none;
    background: none;
  }
}

.icon-flex {
  justify-content: space-evenly;
  align-items: center;
  & > * {
    padding-left: 1rem;
    cursor: pointer;
    padding-right: 1rem;
  }
}
.bg-dayoffs {
  background-color: #ccc;
}
// box-menu

.box-menu {
  position: relative;
  &--bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .list-menu {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    &:before {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #fff;
    }
    &__item {
      display: flex;
      flex-wrap: nowrap;
      & + .list-menu__item {
        margin-top: 1rem;
      }
      a {
        width: 16rem;
        padding: 1rem 1rem;
        box-sizing: border-box;
        font-size: 1.6rem;
        color: var(--white);
        display: block;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        text-align: center;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &__dropdown {
    position: relative;
    cursor: pointer;
    z-index: 1;
    &:hover,
    &.color-red {
      color: red;
    }
  }
}
