
.table{
    & .btn--medium{
    width: auto;
    }
    &__custom{
    border-radius: 1rem;
    overflow: hidden;
    border: 0.1rem solid #000;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
   

    color: var(--text-color);
 
      border-collapse: collapse;
      width: 100%;

      & thead{
        background-color: var(--header-table);
        color: var(--white);
      }

      & tbody{
        & tr{
            & td{
                 &:last-child{
                    border-right: none;
                 }
            }
        }
      }
    }
    th, td{
            font-size: 2rem;
            text-align: center;
             font-weight: 100;
            padding: 1rem;
            border-right: 0.1rem solid var(--white);
           
            border: 0.1rem solid var(--text-color);
    }
     & .sunday{
           background-color: var(--pink);
        }
    & .saturday{
        background-color: var(--blue);
    }
    // & .accrept{
    //     background-color: var(--main);
    // }
    //  & .cancel{
    //     background-color: var(--red);
    // }
    // & .holiday{
    //     background-color: var(--orange);
    // }
}

.table-container{
    margin-top: 5rem;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #000; /* Đường viền bên ngoài */
}
.late{
    color: var(--red);
}

.input__edit{
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
        text-align: center;
        font-weight: 100;
        padding: 1rem;
    &:focus{
        border: 1px solid var(--blue);
    }
    &:disabled{
        border: none;
        background: none;
    }
}