<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display CRUD</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container mt-4">
      <p><a class="icon-link" href="/">Trang chủ</a></p>
      <a href="/group" class="btn btn-primary mb80" style="margin: 4rem 0">
        Thêm mới
      </a>
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Mã nhóm</th>
            <th scope="col">Tên nhóm</th>
            <th scope="col">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < dataTable.length; i++) { %>
          <tr>
            <td><%= dataTable[i].id %></td>
            <td><%= dataTable[i].group_name %></td>
            <td>
              <a class="btn btn-warning">Update</a>
              <a class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
