.timeCard-edit{
   
    & .box-group--second{
        justify-content: right;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    & .box-group{
        @media screen and (min-width:1200px) {
   
        }
    }
    .table--01 + .mt-5{
    margin-top: 5rem;
    }
    &--flex{
            align-items: center;
        > *{
            padding: 0 2rem;
            box-sizing: border-box;
            margin: 0 2rem;
        }
        > button{
            width :auto;
        }
    }
}

