.form {
  &-login {
    display: flex;
    justify-content: center;
    align-items: center;
    & .form-content {
      width: 54.5rem;
      padding: 6rem 7rem;
      background-color: #fff;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }
    &--title {
      font-size: 3.3rem;
      text-align: center;
      font-weight: 600;
      color: var(--text-color);
      margin-bottom: 3.5rem;
    }
    .form-group {
      width: 100%;
    }
  }
  &-group {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 61rem;
  }
  &-input {
    width: 100%;
    border-radius: 2rem;
    border: 1px solid #d8d8d8;
    padding: 1.5rem 2.4rem;
    font-size: 1.6rem;
    color: #888888;
  }
  &-user {
    .form-group {
    }
  }
  label {
    width: 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    ~ .form-input {
      width: calc(100% - 23rem);
    }
  }
  textarea.form-input {
    height: 15rem;
  }
  .btn {
    margin-top: 3rem;
  }
}
